body, html {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
nav {
    background-color: lightgray;
    width: 100%;
    opacity: .90;
    display: flex;
    align-items: center;
}
.logo-wrapper img {
    max-width: 50px;
}
.search-wrapper {
    display: flex;
}
.search-wrapper img {
    max-width: 30px;
    background-color: white;
}
.search-wrapper input {
    height: 25px;
    border-style: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav li {
    text-decoration: none;
    padding: 10px;
    list-style: none;
}
nav li a {
    color: darkblue;
    text-decoration: none;
    font-weight: 500;  
}
.profile-photo img {
    border-radius: 50%;
    max-width: 50px;
}